html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin: 0;
  padding-left: 3%;
  padding-right: 3%;
}


