body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-footer {
  margin-top: auto; /* Posunie footer na spodok stránky */
  background-color: #333; /* Čierna farba pozadia */
  color: #fff; /* Biela farba textu */
  padding: 5px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center; /* Zarovnanie obsahu na stred */
}

.app-footer a {
  color: #fff; /* Biela farba odkazov */
}

.app-footer p {
  margin: 5px 10px; /* Medzera medzi jednotlivými odstavcami */
}
