.options-container {
    
    display: flex;
  flex-direction: row; /* Rozloženie v rade */
  margin: 20px; /* Medzera medzi jednotlivými kontajnermi */
  flex: 1;
  overflow-y: auto;
    max-height: 300px;
  
  
  }



.car-icon{
    height: 23px;
    width: 23px;
}
.foot-icon {
    height: 23px;
    width: 23px;
}
  
  .options {
    flex:1;
    background-color: #f9f9f9; /* Farebné pozadie pre kontajner */
    border: 1px solid #ddd; /* Hranica okolo kontajnera */
    border-radius: 5px; /* Zaoblené rohy */
    padding: 20px;
    margin-right: 20px;
  }

  .btn-primary {
    background-color: #000; /* Čierna farba pozadia */
    color: hsl(0, 0%, 100%); /* Biela farba textu */
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animácia farebného prechodu */
  }
  
  .btn-primary:hover {
    background-color: #333; /* Farebný efekt pri najazdení myšou */
  }

  .btn-dange{
    background-color: #e44545; /* Čierna farba pozadia */
    color: hsl(0, 0%, 100%); /* Biela farba textu */
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animácia farebného prechodu */
  }

  .btn-dange:hover {
    background-color: #d86c6c; /* Farebný efekt pri najazdení myšou */
  }
  
  h3 {
    color: #333; /* Farba nadpisu */
  }
  
  .file-item {
    display: flex;
    align-items: center;
  }
  
  .file-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    transition: filter 0.3s ease;
    cursor: pointer;
  }
  .file-icon:hover {
    filter: drop-shadow(1px 2px 5px rgba(0.9, 0.9, 0.8, 0.9)); /* Zmena filtra na zobrazenie tieňa po najazdení myšou */
  }
  
  .file-name {
    flex: 1; /* Roztiahne sa na celú dostupnú šírku */
    cursor: pointer;
    transition: filter 0.3s ease;

  }
  .file-name:hover {
    filter: drop-shadow(1px 2px 5px rgba(0.9, 0.9, 0.8, 0.9)); /* Zmena filtra na zobrazenie tieňa po najazdení myšou */
  }
  
  .options table {
    width: 100%;
  }
  
  .options th {
    text-align: center;
    font-weight: bold;
  }
  
  .options td {
    text-align: center;
  }
  
  /* Stylizácia tlačidiel */
  .btn {
    margin-right: 10px;
  }
  

  /* Responzívne štýly */
@media (max-width: 768px) {
    .options-container {
      flex-direction: column; /* Prechod na vertikálne usporiadanie na menších obrazovkách */
    }
  
    .options {
      margin-right: 0; /* Odstránenie medzery medzi kontajnermi na menších obrazovkách */
      margin-bottom: 20px; /* Pridanie medzery medzi jednotlivými kontajnermi na menších obrazovkách */
    }
  }
  
