.app-header {
  display: flex;
  background-color: #333;
  color: white;
  padding: 10px;
  align-items: center;
}

.app-header h3{
  margin-right: 20px;
}

.app-header a{
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.green-ball, .red-ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px;
  padding-right: 5px;
}

.green-ball {
  background-color: green;
}

.red-ball {
  background-color: red;
}




