.app-header {
  display: flex;
  background-color: #333;
  color: white;
  padding: 10px;
  align-items: center;
  position: relative;
}

.app-header h3{
  margin-right: 20px;
}

.app-header a{
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.green-ball-isSystemUp, .red-ball-isSystemUp, 
.green-ball-isMapmatchingUp, .red-ball-isMapmatchingUp {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding-right: 5px;
}

.green-ball-isSystemUp {
  background-color: #39FF14;
  right: 20px;
}

.red-ball-isSystemUp {
  background-color: red;
  right: 20px;
}

.green-ball-isMapmatchingUp {
  background-color: #39FF14;
  right: 50px;
}

.red-ball-isMapmatchingUp {
  background-color: red;
  right: 50px;
}




