.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input{
    display: none;
    padding: 15px;
  }
  
  .file-label {
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    margin: 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .selectedfile {
    margin: 15px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    margin: 30px;
    border-radius: 5px;
    display: flex;
  flex-direction: column; /* Rozloženie v rade */
  margin: 20px; /* Medzera medzi jednotlivými kontajnermi */
  flex: 1;
  overflow-y: auto;
    max-height: 300px;
    background-color: #f9f9f9; /* Farebné pozadie pre kontajner */
    border: 1px solid #ddd; /* Hranica okolo kontajnera */
    border-radius: 5px; /* Zaoblené rohy */
   
    

  }
  
  .movetype {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
  
        
  }
  
  .vehicle-button {
    margin: 7px;
    background-color: #706868;
    color: white;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    border: none;
    text-align: center;
  
  }
  .vehicle-button.selected {
    background-color: #000000; /* Farebné pozadie pre vybrané tlačidlo */
    color: #fff; /* Biela farba textu pre vybrané tlačidlo */
  }
  
  .text-center {
    padding-top: 25px;
  }
  .file-name {
    margin-top: 50px;
  }
  .updateButton{
    
    margin: 7px;
    background-color: #288a25;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    border: none;
  }
  .deleteButton{
    
    margin: 7px;
    background-color: #be3131;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    border: none;
  }
  
  /* Responzívne štýly */
  @media (max-width: 768px) {
    .vehicle-button {
      margin-right: 5px;
      font-size: 12px;
      padding: 5px 10px;
    }
  
    .deleteButton, button {
      font-size: 12px;
      padding: 5px 10px;
    }
  }
  