<div>
  <label for="fileInput">Vyberte si súbor</label>
  <input id="fileInput" type="file" ng2FileSelect [uploader]="uploader" (change)="onFileSelected($event)" />
  <button (click)="uploadFile()">Nahrajte súbor</button>

  <!-- Display selected file information -->
  <div class="fuckYou" *ngIf="selectedFile">
    <p>Selected File: {{ selectedFile.name }}</p>
    <p>File Size: {{ selectedFile.size | number: '1.2-2' }} bytes</p>
    <button class="deleteButton" (click)="deleteSelectedFile()">Delete</button>
  </div>
</div>
