.container1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.file-label {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    
}

.file-label:hover {
    background-color: #494b49;
}

input[type="file"] {
    display: none;
}

.selectedfile {
    display: none; /* Skryje obsah, kým nie je vybratý súbor */
    text-align: center;
    margin-top: 20px; /* Prispôsobte podľa potreby */
}

.selectedfile p {
    margin-bottom: 10px;
}

.selectedfile p:last-child {
    margin-bottom: 0;
}
