/* Globálne štýly */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Základné štýly pre App kontajner */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

header, main, footer {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

header {
  background-color: #333; /* Sivá farba */
  color: #fff; /* Biela farba textu */
}

main {
  flex-grow: 1;
  background-color: #ffffff; /* Modrá farba */
  color: #000000; /* Biela farba textu */
}


/* Štýly pre konkrétne komponenty */


app-map {
  padding: 20px;
}

/* Responzívne štýly */
@media (max-width: 768px) {
  header, footer {
    padding: 10px;
  }
  
  main {
    padding: 10px;
  }
  
  app-header, app-footer {
    font-size: 14px;
  }
}
