.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-wrap {
  position: relative;
  width: 100%;
  max-width: 1000px; /* Maximálna šírka mapy */
}

.map {
  width: 100%;
  height: 400px; /* Výška mapy */
  border: 2px solid #ddd; /* Hranica okolo mapy */
  border-radius: 10px; /* Zaoblené rohy mapy */
  padding: 20px;
  flex:1;
}

.legend {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Tien okolo legendy */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Kruhový tvar farby */
  margin-right: 5px;
}

.legend-label {
  font-size: 14px;
}
