/* nice komentare*/

.container {
  display: flex;
  position: relative; /* Set the container to relative positioning */
  height: 100%;
  width: 100%;
  margin: 0 auto;
  
  padding: 1%;
  
  

  /*menil som */
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
}


/*menim*/
.map-wrap {
  flex: 1; /* Zaberá zvyšný dostupný priestor v rámci .container */
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  /* height: calc(100% - 110px); Dynamicky vypočítava výšku, napríklad o 20px menej */
  /* min-width: 300px; */
}

.map {
  width: 100%;
  flex: 1; /* Zaberá zvyšný priestor vo vnútri map-wrap */
}

.legend {
  position: absolute;
  top: 1%; /* adjust as needed */
  right: 50px; /* adjust as needed */
  background-color: white;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  z-index: 1; /* ensure it appears above the map */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Pridanie tieňa */
}

.legend-item {
  margin-bottom: 3px;
  max-width: 150px;
  display: flex;
  align-items: center;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
