.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Nastavenie výšky kontajnera na výšku viewportu */
    justify-content: center; /* Zarovnáva obsah na stred vertikálne */
  }
  
  .app-hello {
    width: 100%; /* Šírka komponentu app-hello */
    box-sizing: border-box;
    justify-content: center; /* Zarovnáva obsah na stred vertikálne */
  }
  
  .map-wrap {
    flex: 1; /* Zaberá všetok dostupný priestor */
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 20px; /* Medzera nad mapou */
    justify-content: center; /* Zarovnáva obsah na stred vertikálne */
  }
  
  .map {
    width: 100%; /* Zaberá 100% šírky */
    flex: 1; /* Zaberá všetok voľný priestor */
  }
  
  .options {
    width: 40%; /* Šírka komponentu options */
    box-sizing: border-box;
    margin-left: 10px; /* Medzera medzi map a options */
  }
  
  .options ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .options li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .legend {
    position: absolute;
    top: 10px; /* Výška headeru */
    right: 10px; /* Odstup od pravého okraja */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .legend-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  