.container {
  display: flex;
  position: relative; /* Set the container to relative positioning */
}

.app-hello {
  width: 20%; /* Adjust the width as needed */
  box-sizing: border-box;
}

.map-wrap {
  flex: 1; /* Take up the remaining space */
  position: relative;
  height: calc(70vh); /* calculate height of the screen minus the heading */
  box-sizing: border-box;
  margin-left: 30px; /* Adjust to match the left offset of app-hello */
}

.map {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  height: 100%;
}

.options {
  width: 40%; /* Adjust as needed */
  box-sizing: border-box;
  margin-left: 10px; /* Adjust the margin to set the gap between map and options */
}

.options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options li {
  margin-bottom: 10px;
  cursor: pointer;
  /* Add styling as needed */
}

.legend {
  position: absolute;
  top: 10px; /* adjust as needed */
  right: 40px; /* adjust as needed */
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1; /* ensure it appears above the map */
}

.legend-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
